*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: grey; */
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(163,160,160);
    overflow: auto;

}

header{
    text-align: center;
    font-size: 100px;
    font-family: 'Kablammo', cursive;
    font-family: 'Yellowtail', cursive;
}

#nav{
    background-color: rgb(229, 139, 229);
    height: 50px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 120px;
}

#article{
    background-color: rgb(255,255,255);
    height: 500px;
    width:  65%;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.art_heading{
    font-family: 'Kablammo', cursive;
    font-family: 'Yellowtail', cursive;
    font-size: 28px;
}

#relatedd{
   background-color: rgb(229, 139, 229);
   overflow: auto; 
   position: absolute;
   left: 75%;
   top: 14%;
}